# Turso https://turso.tech/
# Turso 데이터베이스 URL (예: libsql://[db-name]-[username].turso.io)
TURSO_DATABASE_URL=libsql://your-database-name-username.turso.io
# Turso 데이터베이스 인증 토큰
TURSO_AUTH_TOKEN=your-long-auth-token-string
